{% extends "base.html" %}

{% block title %}My games{% endblock %}

{% block content %}

    <div class="table-responsive" id="myTableContainer">
      <table class="table table-hover" id="myTable">
        <thead>
          <tr>
            <th data-field="logo">Logo</th>
            <th data-field="name">Name</th>
            <th data-field="category" >Category</th>
            <th data-field="publicationDate">Publication Date</th>
            <th data-field="popularity">Popularity</th>
          </tr>
        </thead>
        <tbody>
        {% for g in games %}
            <tr>
                <td><img alt="image not available" class="gameImage" src="{{ g.logo }}"></td>
                <td><a href="{{ g.url }}">{{ g.name }}</a></td>
                <td>{{ g.category }}</td>
                <td><script type="text/javascript">document.write(formatDate("{{ g.publicationDate }}"));</script></td>
                <td>{{ g.popularity }}</td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
      </div>


     <script type="text/javascript">
        $( "#navbar-MyGames" ).addClass('active');
     </script>

{% endblock %}

{% block sidebar %}

    <div id="sidebarContent">
        <p class="lead">Your game collection.</p>
        <p>In this page you can go through your game and choose the one that you want to play.</p>
        <p>Open one game by click his name.</p>
    </div>

{% endblock %}