[project]
	description = A website developed with the Django Framework for the Web Software Development course at the Aalto University.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luigi di Girolamo (luispdm)
[access "refs/for/refs/*"]
	read = group user/Luigi di Girolamo (luispdm)
	push = group user/Luigi di Girolamo (luispdm)
	label-Code-Review = -2..+2 group user/Luigi di Girolamo (luispdm)
	label-Verified = -1..+1 group user/Luigi di Girolamo (luispdm)
	rebase = group user/Luigi di Girolamo (luispdm)
	removeReviewer = group user/Luigi di Girolamo (luispdm)
	submit = group user/Luigi di Girolamo (luispdm)
[access "refs/heads/*"]
	read = group user/Luigi di Girolamo (luispdm)
	create = group user/Luigi di Girolamo (luispdm)
	push = +force group user/Luigi di Girolamo (luispdm)
	pushMerge = group user/Luigi di Girolamo (luispdm)
[access "refs/tags/*"]
	push = +force group user/Luigi di Girolamo (luispdm)
	pushTag = group user/Luigi di Girolamo (luispdm)
	pushSignedTag = group user/Luigi di Girolamo (luispdm)
