{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
        <p class="lead">You're receiving this email because you requested a password reset for your user account.</p>
        <p class="lead">Please go to the following page and choose a new password:</p>
        <p class="lead">{% url 'password_reset_confirm' %}</p>
        <p class="lead">Your username, in case you've forgotten: {{ user.get_username }}
        <p class="lead">Thanks for using our site!</p>
    </div>

{% endblock %}