{% extends "base.html" %}

{% block content %}
    {% comment %}
        Hide the sidebar and center the main content
    {% endcomment %}
    <script type="text/javascript">
        $('#sidebar').hide;
        $('#content').css("width", "100%");
     </script>

    <div class="jumbotron">
        <p class="lead">Your password has been set.  You may go ahead and log in now.</p>
        <p><a class="btn btn-lg btn-success" href="{% url 'login' %}" role="button">Login</a></p>
    </div>

{% endblock %}