{% extends "base.html" %}

{% block content %}
    {% comment %}
        Check if the link is a valid link to change the password
    {% endcomment %}
    {% if validlink %}

        <form method="post" action="#" class="form-signin">
            <h1 class="form-signin-heading" id="local-title">Change password</h1>
            {% csrf_token %}
            <table class="spaced_table">
            {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Change" />
        </form>

    {% else %}
    <script type="text/javascript">
        $('#sidebar').hide;
        $('#content').css("width", "100%");
     </script>

    <div class="container">
        <div class="jumbotron">
            <p class="lead">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        </div>
    </div>
    {% endif %}

{% endblock %}



{% block sidebar %}
    {% comment %}
        Additional information if the link is valid
    {% endcomment %}
    {% if validlink %}
        <div id="sidebarContent">
            <p class="lead">Reset your password.</p>
            <p>Insert twice your new password.</p>
        </div>
    {% endif %}
{% endblock %}